# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore conf and makefiles
!Makefile
!config
!configure
!ASST0
!ASST1
!ASST2
!ASST2-OPT
!ASST3
!ASST3-OPT
!ASST4
!ASST5

# Ignore defs.mk
defs.mk

# Ignore object files and build directories
*.o
Cabodi/os161/doc/
Cabodi/os161/root/
Cabodi/os161/src/build/
Cabodi/os161/src/kern/compile
Cabodi/os161/toolbuild/
Cabodi/os161/tools/
