# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore conf and makefiles
!Makefile
!config
!configure
!ASST0
!ASST1
!ASST2
!ASST2-OPT
!ASST3
!ASST3-OPT
!ASST4
!ASST5

# Ignore defs.mk
defs.mk

# Ignore object files and build directories
build/
*.o
kern/compile/
